

footer { 
	color: #ae1757; 
	background: #e5e1e6; 
	padding: .5rem 0; 
	font-size: .75rem; 
	position: relative; 
	z-index: 10; 
	overflow: hidden; 
	transition: background-color .2s; 
} 

footer ol { 
	list-style-type: none; 
	text-align: left; 
	border-left: 2px solid #f08700; 
	padding: 1em 1em; 
} 

@media screen and (min-width: 500px) { 
	footer { 
		font-size: .875rem; padding: 1rem 0; 
	} 
} 

footer .logo-holder { 
	width: 60%; 
	float: left; 
	margin-top: 5rem; 
	padding-left: 1rem; 
}

@media screen and (min-width: 40.063em) { 
	footer .logo-holder { 
		padding-left: 10rem; 
	} 
} 

footer .links-holder { 
	width: 40%; 
	float: left; 
} 

footer .links-holder a { 
	color: inherit; 
	text-decoration: none; 
	margin: 0 1rem .25rem; 
	line-height: 1rem; 
} 

footer .links-holder a:hover { 
	color: #000; 
} 

@media screen and (min-width: 500px) { 
	footer .links-holder a { 
		font-size: .875rem; margin: 0 1rem; 
	} 
} 

footer .links-holder a span { 
	display: inline-block; 
} 