/* this technique can accommodate 9 seperate steps - if we want more I would suggest splitter the tracker into 2 lines */
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* remove the margin and padding below if step titles above step */
    margin-top: -2em;
    padding-bottom: 3em;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.35em;
}
/* fix for browser rounding error hence the incosistent widths */
ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #007d3b;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background: #007d3b;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: none;
    border-radius: 2em;
    color: #fff;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.5em;
    bottom: -0.9em;
}

.step-title {
    position: relative;
    /* position step title below step s*/
    top: 4em; 
}

@media (max-width: 700px) {
    
    ol.progtrckr li {
        display: block;
    }

    .step-title {
        position: absolute;
        top: auto;
    }

}