.visuallyhidden {
    display: none;
}

.wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
    white-space: nowrap;
}

.wizard-progress li {
    float: left;
    margin-right: 50px;
    text-align: center;
    position: relative;
    width: 100px;
}

.wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
}

.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #999;
    border-radius: 50%;
    width: 20px;
    display: inline-block;
    margin-top: 10px;
}

.wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #999;
    height: 3px;
    width: 125px;
    position: absolute;
    bottom: 12px;
    left: 62px;
}

.wizard-progress .complete-step .step-num:after {
    background: #007d3b;
}

.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    border: 3px solid #007d3b;
}

.wizard-progress .complete-step .step-num {
    background-color: #007d3b;
    border: 3px solid #007d3b;
    color: #fff;
}